[Unit]
Description=Windows Service Discovery Daemon
After=network.target
 
[Service]
User=root
ExecStart=wsdd

Restart=always
 
[Install]
WantedBy=multi-user.target